{% extends 'base.html.twig' %}

{% block title %}Hello Exercice5Controller!{% endblock %}

{% block body %}

   <p>Le resultat de l'opération : {{operation}} {{nmbr1}} et {{nmbr2}} est égal à : </p> 
    <p>{{resultat}}</p> 

{% endblock %}
